.fake-input { position: relative; width:240px;  right: 30px; width: 350px;}
.fake-input input { border:none; background-color:#fff; height: 35px; right: 20px; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: 8px; right: 20px }