<router-outlet></router-outlet>
<!-- 
<table class="table" >
    <thead>
        <tr>
            <th scope="col"> <a (click)="sortColumn()"> Name
                    <img src="assets/icons/ico_sorting.svg"> </a>
            </th>
            <th scope="col">Email</th>
            <th scope="col">Role Type</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.roletype}}</td>
            <td>
                <img src="assets/icons/ico_active.svg" *ngIf="employee.status == 'Active'">
                <img src="assets/icons/ico_inactive.svg" *ngIf="employee.status == 'Inactive'">
                <img src="assets/icons/ico_pending.svg" *ngIf="employee.status == 'Pending'"> &nbsp;
                {{employee.status}}
            </td>
            <td><a href="#" data-toggle="modal" data-target="#addUserModal" (click)="modify(employee.id)">
                    <img src="assets/icons/ico_edit.svg">
                </a></td>
            <td>
                <a data-toggle="modal" (click)="assignID(employee.id)" data-target="#deleteUserModal"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
    </tbody>
</table> -->